page-profile {
  ion-navbar {
    padding: 0px !important;
  }

  ion-content {
    ion-list {
      button {
        ion-label {
          color: #000 !important;
        }

        .select-text {
          color: #c5c5c5 !important;
        }

        .select-icon {
          display: none;
        }

        padding: 0 !important;
        .item-inner {
          padding: 0.6em 0 0.6em 1em;
          // border-bottom: none !important;

          img.avatar {
            height: 15vh;
            border-radius: 100%;
          }
        }
      }
    }
  }
}
